[Unit]
Description=Laravel Queue Worker
After=network.target

[Service]
User=fvasquezl
WorkingDirectory=/home/fvasquezl/Code/Laravel/reverb
Restart=always
ExecStart=/usr/bin/php /home/fvasquezl/Code/Laravel/reverb/artisan queue:work --sleep=3 --tries=3
Environment=PATH=/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
